<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles for Slieder -->
    <link rel="stylesheet" href="../../CSS/index.css" />
  </head>
  <title><%= title %></title>
  <body>
    <header>
      <!-- Inicio Header -->
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="/home">
            <!-- Enlace que nos lleva al "Home" -->
            <img
              src="../../img/branding/logo_light_horizontal.svg"
              alt="Isologotipo de la Marca Funkoshop"
            />
          </a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="/shop"
              >SHOP<iconify-icon icon="mdi:chevron-down"></iconify-icon
            ></a>
            <ul class="submenu">
              <li class="submenu__item">
                <a href="" class="submenu__link">Funkos</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Remeras</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Llaveros</a>
              </li>
            </ul>
            <!-- shortcut "li*4>a para escribir cuatro li que contiene c/u una etiqueta a" -->
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/contact">CONTACTO</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/auth/login">LOGIN</a>
          </li>
          <li class="navbar__item__with-icon">
            <a class="cart" href="/shop/cart">
              <img src="../../img/icons/cart-icon.svg" alt="cart-icon" />
            </a>
          </li>
        </ul>
      </nav>
    </header>